---
import { z } from 'astro:content';

import Layout from '@layouts/Layout.astro';

import Markdown from '@components/Markdown.astro';
import Banner from '@components/Banner.astro';

import vinyard from 'public/assets/bgVineyard.jpg';

import { multiLingualSchema } from '@utils/zod.ts';
import { getLocaleData, getLocaleFromURL } from '@utils/locale.ts';

import Fees from '@components/sections/Fees.astro';
import Courses from '@components/sections/Courses.astro';
import Contact from '@components/sections/Contact.astro';

import data from '@content/home.json';

const locale = getLocaleFromURL(Astro.url);

const contentSchema = multiLingualSchema(
  z.object({
    title: z.string(),
    intro: z.string(),
    banner: z
      .object({
        message: z.string(),
        linkText: z.string(),
        linkUrl: z.string(),
      })
      .optional(),
  }),
);

const parsedData = contentSchema.parse(data);

const content = getLocaleData(locale, parsedData);
---

<Layout locale={locale}>
  <div class="flex w-full justify-center">
    <div class="mx-auto max-h-full">
      {
        content.banner && (
          <Banner
            message={content.banner.message}
            linkText={content.banner.linkText}
            linkUrl={content.banner.linkUrl ?? '#courses'}
          />
        )
      }
      <div class="flex max-h-full flex-col gap-4 md:flex-row">
        <div class="relative max-w-full bg-black">
          <img
            src={vinyard.src}
            alt="Vineyard background"
            class="absolute inset-0 h-full w-full object-cover"
          />
          <div
            class="relative h-full w-full bg-black/40 p-3 text-left text-white"
          >
            <h1 class="text-white">{content.title}</h1>

            <p class="sm:mt-4">
              <Markdown markdown={content.intro} />
            </p>

            <a
              href="#courses"
              class="my-3 inline-block bg-white p-3 text-black"
            >
              Have a look at our courses
            </a>
          </div>
        </div>

        <div
          class="flex max-h-40 min-w-1/2 flex-row gap-4 overflow-hidden md:max-h-full"
        >
          <img
            alt=""
            src="/assets/angela.jpeg"
            class="max-w-1/2 object-cover md:max-h-full"
          />

          <img
            alt=""
            src="/assets/bev.jpeg"
            class="max-h-full max-w-1/2 object-cover"
          />
        </div>
      </div>
    </div>
  </div>

  <Fees />
  <Courses />
  <Contact />
</Layout>
