---
import { z } from 'astro:content';
import Layout from '@layouts/Layout.astro';
import Title from '@components/typography/Title.astro';

import { multiLingualSchema } from '@utils/zod.ts';
import { getLocaleData, getLocaleFromURL } from '@utils/locale.ts';

import data from '@content/team.json';

const locale = getLocaleFromURL(Astro.url);

const contentSchema = multiLingualSchema(
  z.object({
    title: z.string(),
    teachers: z.array(
      z.object({
        name: z.string(),
        description: z.string(),
        image: z.string(),
        certificates: z.array(
          z.object({
            name: z.string(),
          }),
        ),
      }),
    ),
  }),
);

const parsedData = contentSchema.parse(data);

const content = getLocaleData(locale, parsedData);
---

<Layout locale={locale}>
  <Title>{content.title}</Title>
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
    {
      content.teachers.map((teacher) => (
        <div class="rounded-lg bg-white p-4 shadow-md">
          {console.log(teacher.image)}
          <img
            src={teacher.image}
            alt={teacher.name}
            class="h-48 w-full rounded-t-lg object-cover"
          />
          <h3 class="mt-2 text-xl font-bold">{teacher.name}</h3>
          <p class="text-gray-700">{teacher.description}</p>
          <h4 class="mt-2 font-semibold">Certificates:</h4>
          <ul class="list-disc pl-5">
            {teacher.certificates.map((cert) => (
              <li>{cert.name}</li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</Layout>
