---
import { z } from 'astro:content';
import Title from '@components/typography/Title.astro';

import { multiLingualSchema } from '@utils/zod.ts';
import { getLocaleData, getLocaleFromURL } from '@utils/locale.ts';

import data from '@content/fees.json';
import Markdown from '@components/Markdown.astro';

const locale = getLocaleFromURL(Astro.url);

const contentSchema = multiLingualSchema(
  z.object({
    title: z.string(),
    groupCoursesTitle: z.string(),
    groupCoursesDescription: z.string(),
    groupCourses: z.array(
      z.object({
        length: z.number(),
        normalRate: z.number(),
        reducedRate: z.number(),
        description: z.string(),
      }),
    ),
    privateCoursesTitle: z.string(),
    privateCoursesDescription: z.string(),
    privateCourses: z.array(
      z.object({
        length: z.number(),
        onePersonRate: z.number(),
        twoPersonsRate: z.number(),
        threePersonsRate: z.number(),
        description: z.string(),
      }),
    ),
  }),
);

const parsedData = contentSchema.parse(data);

const content = getLocaleData(locale, parsedData);
---

<div id="fees" class="flex w-full flex-col justify-center">
  <Title>{content.title}</Title>
  <Title>{content.groupCoursesTitle}</Title>
  <p>{content.groupCoursesDescription}</p>
  {
    content.groupCourses.map((course) => (
      <div class="mb-4">
        <h3 class="text-lg font-semibold">
          Group Course ({course.length} min)
        </h3>
        <ul class="list-disc pl-5">
          <li>Normal Rate: {course.normalRate} CHF</li>
          <li>Reduced Rate: {course.reducedRate} CHF</li>
        </ul>
        <Markdown markdown={course.description} />
      </div>
    ))
  }
  <Title>{content.privateCoursesTitle}</Title>
  <p>{content.privateCoursesDescription}</p>
  {
    content.privateCourses.map((course) => (
      <div class="mb-4">
        <h3 class="text-lg font-semibold">
          Private Course ({course.length} min)
        </h3>
        <ul class="list-disc pl-5">
          <li>1 Person: {course.onePersonRate} CHF</li>
          <li>2 Persons: {course.twoPersonsRate} CHF</li>
          <li>3 Persons: {course.threePersonsRate} CHF</li>
        </ul>
        <Markdown markdown={course.description} />
      </div>
    ))
  }
</div>
